#contenedor {
    color: #fff;
}
#cabecera {
    background-color: rgb(103, 103, 229);
    color: #fff;
}

#menu {
    float: left;
    width: 15%;
    background-color: rgb(62, 62, 200);
    color: #fff;
}
#contenido {
    float: left;
    width: 85%;
    background-color: rgb(54, 54, 160);
    color: #fff;
}
#pie {
    opacity: 0;
}