@import  "./main.css";
@import "./header.css";
@import "./sidebar.css";
@import "./footer.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
